@function color($family, $name, $shade: 500) {
  $map:    map-get($occo-colors, $family);
  $group:  map-get($map, $name);
  $result: map-get($group, $shade);
  @return $result;
}

@function palette($name) {
  @return map-get($occo-palette, $name);
}
