@function default-darken($color) {
  @return darken($color, $occo-darken-factor);
}
@function default-lighten($color) {
  @return lighten($color, $occo-lighten-factor);
}
@function default-saturate($color) {
  @return saturate($color, $occo-saturate-factor);
}
@function default-desaturate($color) {
  @return desaturate($color, $occo-desaturate-factor);
}
