@each $overflow in $occo-overflows {
  .has-overflow-#{$overflow} {
    overflow: $overflow;
  }
  .has-overflow-#{$overflow}-x {
    overflow-x: $overflow;
  }
  .has-overflow-#{$overflow}-y {
    overflow-y: $overflow;
  }
}
