@function opposite($side)
{
  $map: (
    top:    bottom,
    bottom: top,
    left:   right,
    right:  left
    );
  @return map-get($map, $side);
}

@function tangent($side)
{
  $map: (
    top:    left,
    bottom: left,
    left:   top,
    right:  top
    );
  @return map-get($map, $side);
}

@function short-side($side)
{
  $map: (
    top: t,
    bottom: b,
    left: l,
    right: r,
  ) !default;
  @return map-get($map, $side);
}

@function direction-begin($direction) {
  $map: (
    v: top,
    h: left
    );
  @return map-get($map, $direction);
}
@function direction-end($direction) {
  $map: (
    v: bottom,
    h: right
    );
  @return map-get($map, $direction);
}

@function direction-dimension($direction) {
  $map: (
    v: height,
    h: width
    );
  @return map-get($map, $direction);
}
