@each $name, $size in $occo-space {
  @each $side in $occo-sides {
    .has-padding-#{$side}-#{$name} {
      @include padding($name, $side);
    }
    .has-margin-#{$side}-#{$name} {
      @include margin($name, $side);
    }
  }
  .has-padding-#{$name} {
    @include padding($name);
  }
  .has-margin-#{$name} {
    @include margin($name);
  }

  @each $direction in $occo-directions {
    .is-spaced-#{$direction}-#{$name} {
      @include spaced($size, $direction);
    }
    .has-padding-#{$direction}-#{$name} {
      @include padding($name, direction-begin($direction));
      @include padding($name, direction-end($direction));
    }
    .has-margin-#{$direction}-#{$name} {
      @include margin($name, direction-begin($direction));
      @include margin($name, direction-end($direction));
    }
  }
  .is-spaced-#{$name} {
    @include spaced($size);
  }
}

@each $side in $occo-sides {
  .has-no-padding-#{$side} {
    @include no-padding($side);
  }
  .has-no-margin-#{$side} {
    @include no-margin($side);
  }
}
.has-no-padding {
  @include no-padding;
}
.has-no-margin {
  @include no-margin;
}
