$occo-font-sizes: (
  small: 0.75rem,
  base:  1.00rem,
  large: 1.25rem,
) !default;

$occo-font-weights: (
  lighter: lighter,
  normal: normal,
  bolder: bolder,
  bold: bold,
) !default;

$occo-text-alignments: (
  center,
  left,
  right,
  justify,
) !default;

$occo-text-transforms: (
  lowercase,
  uppercase,
  capitalize,
  none,
) !default;

$occo-text-overflows: (
  clip,
  ellipsis,
  fade,
) !default;
