$input-types: (
  text,
  password,
  date,
  datetime,
  datetime-local,
  month,
  week,
  email,
  number,
  search,
  tel,
  time,
  url,
  color
  ) !default;

$heading-tags: (
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
  ) !default;
