@mixin font-size($name) {
  font-size: map-get($occo-font-sizes, $name);
}

@mixin font-weight($name) {
  font-weight: map-get($occo-font-weights, $name);
}

@mixin one-line {
  white-space: nowrap;
}
