$occo-radius: 4px !default;

$occo-cursors: (
  alias,
  all-scroll,
  cell,
  context-menu,
  col-resize,
  copy,
  crosshair,
  default,
  e-resize,
  ew-resize,
  grab,
  grabbing,
  help,
  move,
  n-resize,
  ne-resize,
  nesw-resize,
  ns-resize,
  nwse-resize,
  no-drop,
  none,
  not-allowed,
  pointer,
  progress,
  row-resize,
  s-resize,
  se-resize,
  sw-resize,
  text,
  vertical-text,
  w-resize,
  wait,
  zoom-in,
  zoom-out,
  auto,
) !default;

$occo-overflows: (
  visible,
  hidden,
  scroll,
  auto,
) !default;
